# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

jobs:
  hello:
    docker:
      - image: ubuntu:latest
    steps:
      - restore_cache:
          keys:
            - hello
      - run: [ -f hello.txt] || echo "${CIRCLE_JOB}" > hello.txt
      - save_cache:
          key: hello-{{ checksum "hello.txt" }}
          paths:
            - hello.txt
      - run: cat hello.txt

workflows:
  hello-workflow:
    jobs:
      - hello
