# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

jobs:
  hello:
    docker:
      - image: ubuntu:latest
    steps:
      - restore_cache:
          keys:
            - v3-hello
      - run: /bin/bash -c '([[ -f xxx.txt ]] && cat xxx.txt) || true'
      - run: /bin/bash -c '[[ -f xxx.txt ]] || echo "${CIRCLE_JOB}" > xxx.txt'
      - save_cache:
          key: v3-hello-{{ checksum "xxx.txt" }}
          paths:
            - xxx.txt

workflows:
  hello-workflow:
    jobs:
      - hello
